 body{
     background-color: white;
 }

 .navbar {
           margin-bottom: 0;
           border-radius: 0;
           background-color: #263245;
           color: #FFF;
           padding: 1% 0;
           font-size: 1.2em;
           border: 0;
       }

 .navbar-brand{
           float: left;
           min-height: 55px;
           padding: 0 15px 5px;
       }

 .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
           color: #FFF;
           background-color: #263245;
       }

 .container {
           margin: 4% auto;
       }

 #user_box.row {
           border: 1px solid;
        }

.spacer{
           height: 10px;
        }


.row.display-flex {
           display: flex;
           flex-wrap: wrap;
        }

.row.display-flex > [class*='col-'] {
           display: flex;
           flex-direction: column;
        }
